In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import GridSearchCV
from sklearn import svm

In [2]:
data = pd.read_csv('spam.csv')

In [3]:
data

     Label                                          EmailText
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham             Will Ã_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [4]:
data.head()

  Label                                          EmailText
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [5]:
data.tail()

     Label                                          EmailText
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham             Will Ã_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Label      5572 non-null   object
 1   EmailText  5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [7]:
data.describe()

       Label               EmailText
count   5572                    5572
unique     2                    5169
top      ham  Sorry, I'll call later
freq    4825                      30

In [8]:
data.isnull()

      Label  EmailText
0     False      False
1     False      False
2     False      False
3     False      False
4     False      False
...     ...        ...
5567  False      False
5568  False      False
5569  False      False
5570  False      False
5571  False      False

[5572 rows x 2 columns]

In [9]:
X = data['EmailText'].values
y = data['Label'].values

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2, random_state=0)

In [11]:
# Converting String to Integer
cv = CountVectorizer()  
X_train = cv.fit_transform(X_train)
X_test = cv.transform(X_test)

In [12]:
print(X_train)

  (0, 4711)	2
  (0, 6732)	1
  (0, 3689)	2
  (0, 3827)	1
  (0, 3422)	2
  (0, 3203)	1
  (0, 906)	1
  (0, 6881)	1
  (0, 2465)	1
  (1, 898)	1
  (1, 3582)	2
  (1, 2605)	1
  (1, 6698)	1
  (1, 4761)	1
  (1, 3123)	1
  (1, 6814)	1
  (1, 7269)	1
  (1, 3839)	1
  (1, 2775)	1
  (1, 4429)	1
  (2, 3689)	1
  (2, 7289)	1
  (2, 7233)	1
  (2, 2973)	1
  (2, 4587)	1
  :	:
  (4454, 5827)	1
  (4454, 3819)	1
  (4454, 2301)	1
  (4454, 4914)	1
  (4454, 7235)	1
  (4455, 7552)	1
  (4455, 7579)	1
  (4455, 3302)	1
  (4455, 4045)	1
  (4455, 2277)	1
  (4455, 4120)	1
  (4455, 5713)	1
  (4455, 4187)	1
  (4455, 6335)	1
  (4456, 6814)	2
  (4456, 7579)	3
  (4456, 3466)	1
  (4456, 6639)	1
  (4456, 814)	1
  (4456, 6581)	1
  (4456, 7457)	2
  (4456, 961)	1
  (4456, 3324)	1
  (4456, 2141)	1
  (4456, 6436)	1

In [13]:
print(X_test)

  (0, 842)	1
  (0, 1880)	1
  (0, 3815)	1
  (0, 3962)	1
  (0, 5152)	1
  (0, 6019)	1
  (0, 6814)	1
  (0, 6847)	1
  (0, 7063)	1
  (1, 2733)	1
  (1, 4870)	1
  (1, 6696)	1
  (1, 7261)	1
  (2, 890)	1
  (2, 924)	1
  (2, 983)	1
  (2, 1010)	1
  (2, 1956)	1
  (2, 1996)	1
  (2, 2350)	2
  (2, 2675)	1
  (2, 2775)	1
  (2, 2894)	1
  (2, 3242)	1
  (2, 3357)	1
  :	:
  (1114, 402)	1
  (1114, 890)	1
  (1114, 924)	1
  (1114, 1540)	1
  (1114, 1897)	1
  (1114, 3068)	1
  (1114, 3072)	1
  (1114, 3302)	1
  (1114, 3689)	2
  (1114, 3700)	1
  (1114, 3927)	1
  (1114, 4329)	1
  (1114, 4916)	1
  (1114, 5992)	1
  (1114, 6432)	1
  (1114, 6576)	2
  (1114, 6690)	1
  (1114, 6696)	2
  (1114, 6814)	3
  (1114, 7284)	1
  (1114, 7309)	1
  (1114, 7355)	1
  (1114, 7365)	2
  (1114, 7579)	1
  (1114, 7584)	1

In [14]:
from sklearn.svm import SVC
classifier = SVC(kernel = 'rbf', random_state = 10)
classifier.fit(X_train, y_train)
print(classifier.score(X_test,y_test))

0.9766816143497757

In [15]:
# tuned_parameters = {'kernel': ['rbf','linear'], 'gamma': [1e-3, 1e-4],
#                      'C': [1, 10, 100, 1000]}

# model = GridSearchCV(svm.SVC(), tuned_parameters)

# model.fit(X_train,y_train)

In [16]:
# print(model.score(X_test,y_test))